.group-list-container span{
    margin: 0 auto;
}

.group-list-container .list-group-item:hover{
    background-color: #eee;
    cursor: pointer;
    transition: background-color .35s ease-out .1s;
}

#screenshot{
    width: 100%;
    border-radius: 10px 10px 0 0;
}