@font-face {
    font-family: 'yekan';
    src: url('../font/Yekan.ttf');
}
body{
    font-family: 'yekan';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d8d8d8;
    overflow-y: scroll;
}
video{
    width: 70vh;
    height: 40vh;
}
.bg-gray{
    background-color: #999;
}
.clock{
    font-size: 24px;
}
.bg-light-gray{
    background-color: #dbdbdb;
    transition: background-color .4s ease;
}
ul{
    padding: 15px;
}

span{
    word-wrap: break-word;
    word-break: break-word;
    display: inline-block;
}

.video-list{
    cursor: pointer;
}
.bg-light-gray:hover{
    background-color: #bebebe;
    transition: background-color .2s ease;
}
i{
    cursor: pointer;
}
.settings a{
    color: gray;
}
.settings:hover a{
    color: #fff;
}

.tab{
    display: flex;
    align-items: center;
    margin: 2px 15px 0 0;
}

.tab-item{
    text-decoration: none;
    color: #333;
}

.tab-active *{
    color: #0d6efd;
}

.card{
    height: 90%;
}

img[alt*="screenshot"]{
    border-radius: 15px 15px 0 0;
}

#form-search-tv{
    border-top: #999 solid 1px;
    background-color: #ececec;
    margin: 0;
}

#screenshot-container{
    max-width: 100%;
    margin: 0;
}

#search-tv-name{
    min-width: 150px;
}

/* responsive */
@media (max-width: 600px){
    video{
        max-width: 100%;
        max-height: 70%;
    }
    .table-container{
        display: none;
    }
}


li{
    list-style: none;
}